{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-03-31",
    "endpointPrefix":"lambda",
    "protocol":"rest-json",
    "serviceFullName":"AWS Lambda",
    "serviceId":"Lambda",
    "signatureVersion":"v4",
    "signingName":"execute-api",
    "uid":"lambda-2015-03-31"
  },
  "operations":{
    "AddEventSource":{
      "name":"AddEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/2014-11-13/event-source-mappings",
        "responseCode":200
      },
      "input":{"shape":"OldAddEventSourceRequest"},
      "output":{"shape":"OldEventSourceConfiguration"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "AddLayerVersionPermission20181031":{
      "name":"AddLayerVersionPermission20181031",
      "http":{
        "method":"POST",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
        "responseCode":201
      },
      "input":{"shape":"AddLayerVersionPermissionRequest20181031"},
      "output":{"shape":"AddLayerVersionPermissionResponse20181031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PolicyLengthExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ]
    },
    "AddPermission20150331":{
      "name":"AddPermission20150331",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions/HEAD/policy",
        "responseCode":201
      },
      "input":{"shape":"AddPermissionRequest"},
      "output":{"shape":"AddPermissionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PolicyLengthExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "AddPermission20150331v2":{
      "name":"AddPermission20150331v2",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/policy",
        "responseCode":201
      },
      "input":{"shape":"AddPermissionRequest"},
      "output":{"shape":"AddPermissionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"PublicPolicyException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PolicyLengthExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ]
    },
    "CheckpointDurableExecution":{
      "name":"CheckpointDurableExecution",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-executions/{DurableExecutionArn}/checkpoint",
        "responseCode":200
      },
      "input":{"shape":"CheckpointDurableExecutionRequest"},
      "output":{"shape":"CheckpointDurableExecutionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "idempotent":true
    },
    "CreateAlias20150331":{
      "name":"CreateAlias20150331",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode":201
      },
      "input":{"shape":"CreateAliasRequest20150331"},
      "output":{"shape":"AliasConfiguration20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AliasLimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "CreateCapacityProvider":{
      "name":"CreateCapacityProvider",
      "http":{
        "method":"POST",
        "requestUri":"/2025-11-30/capacity-providers",
        "responseCode":202
      },
      "input":{"shape":"CreateCapacityProviderRequest"},
      "output":{"shape":"CreateCapacityProviderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "CreateCodeSigningConfig":{
      "name":"CreateCodeSigningConfig",
      "http":{
        "method":"POST",
        "requestUri":"/2020-04-22/code-signing-configs",
        "responseCode":201
      },
      "input":{"shape":"CreateCodeSigningConfigRequest"},
      "output":{"shape":"CreateCodeSigningConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"}
      ]
    },
    "CreateEventSourceMapping20150331":{
      "name":"CreateEventSourceMapping20150331",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/event-source-mappings",
        "responseCode":202
      },
      "input":{"shape":"CreateEventSourceMappingRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "CreateFunction20150331":{
      "name":"CreateFunction20150331",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions",
        "responseCode":201
      },
      "input":{"shape":"CreateFunctionRequest"},
      "output":{"shape":"FunctionConfiguration20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidCodeSignatureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"CodeVerificationFailedException"},
        {"shape":"CodeSigningConfigNotFoundException"},
        {"shape":"CodeStorageExceededException"}
      ]
    },
    "CreateFunctionUrlConfig":{
      "name":"CreateFunctionUrlConfig",
      "http":{
        "method":"POST",
        "requestUri":"/2021-10-31/functions/{FunctionName}/url",
        "responseCode":201
      },
      "input":{"shape":"CreateFunctionUrlConfigRequest"},
      "output":{"shape":"CreateFunctionUrlConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "CreateLiteFunction":{
      "name":"CreateLiteFunction",
      "http":{
        "method":"PUT",
        "requestUri":"/2025-03-07/lite-functions",
        "responseCode":202
      },
      "input":{"shape":"CreateLiteFunctionRequest"},
      "output":{"shape":"CreateLiteFunctionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceConflictException"},
        {"shape":"RequestEntityTooLargeException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "CreateLiteFunctionRevision":{
      "name":"CreateLiteFunctionRevision",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}/revisions",
        "responseCode":202
      },
      "input":{"shape":"CreateLiteFunctionRevisionRequest"},
      "output":{"shape":"CreateLiteFunctionRevisionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceConflictException"},
        {"shape":"RequestEntityTooLargeException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteAccountSettingsInternal":{
      "name":"DeleteAccountSettingsInternal",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-06-08/account-settings/{AccountId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAccountSettingsInternalRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteAlias20150331":{
      "name":"DeleteAlias20150331",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAliasRequest20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "DeleteCapacityProvider":{
      "name":"DeleteCapacityProvider",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-11-30/capacity-providers/{CapacityProviderName}",
        "responseCode":202
      },
      "input":{"shape":"DeleteCapacityProviderRequest"},
      "output":{"shape":"DeleteCapacityProviderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteCodeSigningConfig":{
      "name":"DeleteCodeSigningConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-04-22/code-signing-configs/{CodeSigningConfigArn}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCodeSigningConfigRequest"},
      "output":{"shape":"DeleteCodeSigningConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteEventSourceMapping20150331":{
      "name":"DeleteEventSourceMapping20150331",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/event-source-mappings/{UUID}",
        "responseCode":202
      },
      "input":{"shape":"DeleteEventSourceMappingRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteFunction":{
      "name":"DeleteFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/2014-11-13/functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFunctionRequest"},
      "output":{"shape":"DeleteFunctionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteFunction20150331":{
      "name":"DeleteFunction20150331",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFunctionRequest"},
      "output":{"shape":"DeleteFunctionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteFunctionAliasResourceMapping":{
      "name":"DeleteFunctionAliasResourceMapping",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/aliases/{Alias}/resource-mappings",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionAliasResourceMappingRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "DeleteFunctionCodeSigningConfig":{
      "name":"DeleteFunctionCodeSigningConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-06-30/functions/{FunctionName}/code-signing-config",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionCodeSigningConfigRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"CodeSigningConfigNotFoundException"}
      ]
    },
    "DeleteFunctionConcurrency20171031":{
      "name":"DeleteFunctionConcurrency20171031",
      "http":{
        "method":"DELETE",
        "requestUri":"/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionConcurrencyRequest20171031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteFunctionEventInvokeConfig":{
      "name":"DeleteFunctionEventInvokeConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionEventInvokeConfigRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteFunctionInternal":{
      "name":"DeleteFunctionInternal",
      "http":{
        "method":"DELETE",
        "requestUri":"/internal/functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFunctionRequest"},
      "output":{"shape":"DeleteFunctionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteFunctionResourceMapping":{
      "name":"DeleteFunctionResourceMapping",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/resource-mappings",
        "responseCode":200
      },
      "input":{"shape":"DeleteFunctionResourceMappingRequest"},
      "output":{"shape":"DeleteFunctionResourceMappingResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "DeleteFunctionUrlConfig":{
      "name":"DeleteFunctionUrlConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-10-31/functions/{FunctionName}/url",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionUrlConfigRequest"},
      "errors":[
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteFunctionVersionResourceMapping":{
      "name":"DeleteFunctionVersionResourceMapping",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/versions/{Version}/resource-mappings",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionVersionResourceMappingRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "DeleteFunctionVersionResourcesInternal":{
      "name":"DeleteFunctionVersionResourcesInternal",
      "http":{
        "method":"PUT",
        "requestUri":"/cellmigration/functions/{FunctionArn}/deleteresources",
        "responseCode":200
      },
      "input":{"shape":"DeleteFunctionVersionResourcesInternalRequest"},
      "output":{"shape":"DeleteFunctionVersionResourcesInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteLayerVersion20181031":{
      "name":"DeleteLayerVersion20181031",
      "http":{
        "method":"DELETE",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
        "responseCode":204
      },
      "input":{"shape":"DeleteLayerVersionRequest20181031"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "DeleteLiteFunction":{
      "name":"DeleteLiteFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteLiteFunctionRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteLiteFunctionRevision":{
      "name":"DeleteLiteFunctionRevision",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}/revisions/{RevisionId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteLiteFunctionRevisionRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "idempotent":true
    },
    "DeleteMigratedLayerVersion":{
      "name":"DeleteMigratedLayerVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/cellmigration/layers/{LayerVersionArn}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMigratedLayerVersionRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DeleteProvisionedConcurrencyConfig":{
      "name":"DeleteProvisionedConcurrencyConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":204
      },
      "input":{"shape":"DeleteProvisionedConcurrencyConfigRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/2024-09-16/resource-policy/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ]
    },
    "DisableFunction":{
      "name":"DisableFunction",
      "http":{
        "method":"POST",
        "requestUri":"/internal/functions/{FunctionArn}/disable",
        "responseCode":204
      },
      "input":{"shape":"DisableFunctionRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DisablePublicAccessBlockConfig":{
      "name":"DisablePublicAccessBlockConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/internal/functions/{FunctionArn}/disable-public-access-block",
        "responseCode":200
      },
      "input":{"shape":"DisablePublicAccessBlockConfigRequest"},
      "output":{"shape":"DisablePublicAccessBlockConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "DisableReplication20170630":{
      "name":"DisableReplication20170630",
      "http":{
        "method":"DELETE",
        "requestUri":"/2017-06-30/functions/{FunctionName}/replication-policy",
        "responseCode":204
      },
      "input":{"shape":"DisableReplicationRequest20170630"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "EnableReplication20170630":{
      "name":"EnableReplication20170630",
      "http":{
        "method":"POST",
        "requestUri":"/2017-06-30/functions/{FunctionName}/replication-policy",
        "responseCode":201
      },
      "input":{"shape":"EnableReplicationRequest20170630"},
      "output":{"shape":"AddPermissionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "EnableReplication20170630v2":{
      "name":"EnableReplication20170630v2",
      "http":{
        "method":"POST",
        "requestUri":"/2017-06-30/functions/{FunctionName}/replication-policy-v2",
        "responseCode":201
      },
      "input":{"shape":"EnableReplicationRequest20170630"},
      "output":{"shape":"EnableReplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "ExportAccountSettings":{
      "name":"ExportAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/account-settings/{AccountId}",
        "responseCode":200
      },
      "input":{"shape":"ExportAccountSettingsRequest"},
      "output":{"shape":"ExportAccountSettingsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ExportAlias":{
      "name":"ExportAlias",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/aliases/{AliasArn}/export",
        "responseCode":200
      },
      "input":{"shape":"ExportAliasRequest"},
      "output":{"shape":"ExportAliasResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ExportFunctionUrlConfigs":{
      "name":"ExportFunctionUrlConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/functions/{FunctionName}/url",
        "responseCode":200
      },
      "input":{"shape":"ExportFunctionUrlConfigsRequest"},
      "output":{"shape":"ExportFunctionUrlConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ExportFunctionVersion":{
      "name":"ExportFunctionVersion",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/functions/{FunctionName}/export",
        "responseCode":200
      },
      "input":{"shape":"ExportFunctionVersionRequest"},
      "output":{"shape":"ExportFunctionVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotReadyException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ExportLayerVersion":{
      "name":"ExportLayerVersion",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/layers/{LayerVersionArn}/export",
        "responseCode":200
      },
      "input":{"shape":"ExportLayerVersionRequest"},
      "output":{"shape":"ExportLayerVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ExportProvisionedConcurrencyConfig":{
      "name":"ExportProvisionedConcurrencyConfig",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":200
      },
      "input":{"shape":"ExportProvisionedConcurrencyConfigRequest"},
      "output":{"shape":"ExportProvisionedConcurrencyConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetAccountRiskSettings":{
      "name":"GetAccountRiskSettings",
      "http":{
        "method":"GET",
        "requestUri":"/2020-04-07/account-settings/{AccountId}/risk",
        "responseCode":200
      },
      "input":{"shape":"GetAccountRiskSettingsRequest"},
      "output":{"shape":"GetAccountRiskSettingsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "GetAccountSettings20150331":{
      "name":"GetAccountSettings20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/account-settings",
        "responseCode":200
      },
      "input":{"shape":"GetAccountSettingsRequest20150331"},
      "output":{"shape":"GetAccountSettingsResponse20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetAccountSettings20160819":{
      "name":"GetAccountSettings20160819",
      "http":{
        "method":"GET",
        "requestUri":"/2016-08-19/account-settings",
        "responseCode":200
      },
      "input":{"shape":"GetAccountSettingsRequest20160819"},
      "output":{"shape":"GetAccountSettingsResponse20160819"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "GetAccountSettingsInternal":{
      "name":"GetAccountSettingsInternal",
      "http":{
        "method":"GET",
        "requestUri":"/2020-06-08/account-settings/{AccountId}",
        "responseCode":200
      },
      "input":{"shape":"GetAccountSettingsInternalRequest"},
      "output":{"shape":"GetAccountSettingsInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetAlias20150331":{
      "name":"GetAlias20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode":200
      },
      "input":{"shape":"GetAliasRequest20150331"},
      "output":{"shape":"AliasConfiguration20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetAliasInternal":{
      "name":"GetAliasInternal",
      "http":{
        "method":"GET",
        "requestUri":"/internal/functions/{FunctionName}/aliases/{Name}",
        "responseCode":200
      },
      "input":{"shape":"GetAliasRequest20150331"},
      "output":{"shape":"AliasConfiguration20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetCapacityProvider":{
      "name":"GetCapacityProvider",
      "http":{
        "method":"GET",
        "requestUri":"/2025-11-30/capacity-providers/{CapacityProviderName}",
        "responseCode":200
      },
      "input":{"shape":"GetCapacityProviderRequest"},
      "output":{"shape":"GetCapacityProviderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetCodeSigningConfig":{
      "name":"GetCodeSigningConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2020-04-22/code-signing-configs/{CodeSigningConfigArn}",
        "responseCode":200
      },
      "input":{"shape":"GetCodeSigningConfigRequest"},
      "output":{"shape":"GetCodeSigningConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetDurableExecution":{
      "name":"GetDurableExecution",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-executions/{DurableExecutionArn}",
        "responseCode":200
      },
      "input":{"shape":"GetDurableExecutionRequest"},
      "output":{"shape":"GetDurableExecutionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetDurableExecutionHistory":{
      "name":"GetDurableExecutionHistory",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-executions/{DurableExecutionArn}/history",
        "responseCode":200
      },
      "input":{"shape":"GetDurableExecutionHistoryRequest"},
      "output":{"shape":"GetDurableExecutionHistoryResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetDurableExecutionState":{
      "name":"GetDurableExecutionState",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-executions/{DurableExecutionArn}/state",
        "responseCode":200
      },
      "input":{"shape":"GetDurableExecutionStateRequest"},
      "output":{"shape":"GetDurableExecutionStateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "readonly":true
    },
    "GetEventSource":{
      "name":"GetEventSource",
      "http":{
        "method":"GET",
        "requestUri":"/2014-11-13/event-source-mappings/{UUID}",
        "responseCode":200
      },
      "input":{"shape":"OldGetEventSourceRequest"},
      "output":{"shape":"OldEventSourceConfiguration"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetEventSourceMapping20150331":{
      "name":"GetEventSourceMapping20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/event-source-mappings/{UUID}",
        "responseCode":200
      },
      "input":{"shape":"GetEventSourceMappingRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetEventSourceMappingInternal":{
      "name":"GetEventSourceMappingInternal",
      "http":{
        "method":"GET",
        "requestUri":"/internal/event-source-mappings/{UUID}",
        "responseCode":200
      },
      "input":{"shape":"GetEventSourceMappingInternalRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetFunction":{
      "name":"GetFunction",
      "http":{
        "method":"GET",
        "requestUri":"/2014-11-13/functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunction20150331":{
      "name":"GetFunction20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions/HEAD",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionResponse20150331"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunction20150331v2":{
      "name":"GetFunction20150331v2",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionResponse20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionCodeSigningConfig":{
      "name":"GetFunctionCodeSigningConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2020-06-30/functions/{FunctionName}/code-signing-config",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionCodeSigningConfigRequest"},
      "output":{"shape":"GetFunctionCodeSigningConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"CodeSigningConfigNotFoundException"}
      ]
    },
    "GetFunctionConcurrency":{
      "name":"GetFunctionConcurrency",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/concurrency",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionConcurrencyRequest"},
      "output":{"shape":"GetFunctionConcurrencyResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionConfiguration":{
      "name":"GetFunctionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/2014-11-13/functions/{FunctionName}/configuration",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionConfigurationRequest"},
      "output":{"shape":"FunctionConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionConfiguration20150331":{
      "name":"GetFunctionConfiguration20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions/HEAD/configuration",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionConfigurationRequest"},
      "output":{"shape":"FunctionConfiguration20150331"},
      "errors":[
        {"shape":"InternalLambdaAccountDisabledException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionConfiguration20150331v2":{
      "name":"GetFunctionConfiguration20150331v2",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/configuration",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionConfigurationRequest"},
      "output":{"shape":"FunctionConfiguration20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InternalLambdaAccountDisabledException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionEventInvokeConfig":{
      "name":"GetFunctionEventInvokeConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionEventInvokeConfigRequest"},
      "output":{"shape":"FunctionEventInvokeConfig"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionInternal":{
      "name":"GetFunctionInternal",
      "http":{
        "method":"GET",
        "requestUri":"/internal/functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetFunctionRecursionConfig":{
      "name":"GetFunctionRecursionConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2024-08-31/functions/{FunctionName}/recursion-config",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionRecursionConfigRequest"},
      "output":{"shape":"GetFunctionRecursionConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionScalingConfig":{
      "name":"GetFunctionScalingConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2025-11-30/functions/{FunctionName}/function-scaling-config",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionScalingConfigRequest"},
      "output":{"shape":"GetFunctionScalingConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFunctionUrlConfig":{
      "name":"GetFunctionUrlConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2021-10-31/functions/{FunctionName}/url",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionUrlConfigRequest"},
      "output":{"shape":"GetFunctionUrlConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetLatestLayerVersionInfoInternal":{
      "name":"GetLatestLayerVersionInfoInternal",
      "http":{
        "method":"GET",
        "requestUri":"/internal/layer-arn/{LayerArn}",
        "responseCode":200
      },
      "input":{"shape":"GetLatestLayerVersionInfoInternalRequest"},
      "output":{"shape":"GetLatestLayerVersionInfoInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetLayerVersion20181031":{
      "name":"GetLayerVersion20181031",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionRequest20181031"},
      "output":{"shape":"GetLayerVersionResponse20181031"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetLayerVersionByArn20181031":{
      "name":"GetLayerVersionByArn20181031",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers?find=LayerVersion",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionByArnRequest20181031"},
      "output":{"shape":"GetLayerVersionResponse20181031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetLayerVersionInternal":{
      "name":"GetLayerVersionInternal",
      "http":{
        "method":"GET",
        "requestUri":"/internal/layer-version-arn/{LayerVersionArn}",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionInternalRequest"},
      "output":{"shape":"GetLayerVersionInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetLayerVersionPolicy20181031":{
      "name":"GetLayerVersionPolicy20181031",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionPolicyRequest20181031"},
      "output":{"shape":"GetLayerVersionPolicyResponse20181031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetLayerVersionPolicyInternal":{
      "name":"GetLayerVersionPolicyInternal",
      "http":{
        "method":"GET",
        "requestUri":"/internal/layer-version-arn/{LayerVersionArn}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionPolicyInternalRequest"},
      "output":{"shape":"GetLayerVersionPolicyInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetLiteFunction":{
      "name":"GetLiteFunction",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"GetLiteFunctionRequest"},
      "output":{"shape":"GetLiteFunctionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetLiteFunctionDeployment":{
      "name":"GetLiteFunctionDeployment",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}/deployments/{DeploymentId}",
        "responseCode":200
      },
      "input":{"shape":"GetLiteFunctionDeploymentRequest"},
      "output":{"shape":"GetLiteFunctionDeploymentResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetLiteFunctionRevision":{
      "name":"GetLiteFunctionRevision",
      "http":{
        "method":"GET",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}/revisions/{RevisionId}",
        "responseCode":200
      },
      "input":{"shape":"GetLiteFunctionRevisionRequest"},
      "output":{"shape":"GetLiteFunctionRevisionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "GetPolicy20150331":{
      "name":"GetPolicy20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions/HEAD/policy",
        "responseCode":200
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{"shape":"GetPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetPolicy20150331v2":{
      "name":"GetPolicy20150331v2",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{"shape":"GetPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetProvisionedConcurrencyConfig":{
      "name":"GetProvisionedConcurrencyConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":200
      },
      "input":{"shape":"GetProvisionedConcurrencyConfigRequest"},
      "output":{"shape":"GetProvisionedConcurrencyConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ProvisionedConcurrencyConfigNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetPublicAccessBlockConfig":{
      "name":"GetPublicAccessBlockConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2024-09-16/public-access-block/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"GetPublicAccessBlockConfigRequest"},
      "output":{"shape":"GetPublicAccessBlockConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2024-09-16/resource-policy/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetRuntimeManagementConfig":{
      "name":"GetRuntimeManagementConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2021-07-20/functions/{FunctionName}/runtime-management-config",
        "responseCode":200
      },
      "input":{"shape":"GetRuntimeManagementConfigRequest"},
      "output":{"shape":"GetRuntimeManagementConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetVersionProvisionedConcurrencyStatus":{
      "name":"GetVersionProvisionedConcurrencyStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency/status",
        "responseCode":200
      },
      "input":{"shape":"GetVersionProvisionedConcurrencyStatusRequest"},
      "output":{"shape":"GetVersionProvisionedConcurrencyStatusResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "GetVersionSandboxSpec":{
      "name":"GetVersionSandboxSpec",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/sandbox-spec",
        "responseCode":200
      },
      "input":{"shape":"GetVersionSandboxSpecRequest"},
      "output":{"shape":"GetVersionSandboxSpecResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ImportAccountSettings":{
      "name":"ImportAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/cellmigration/account-settings/{AccountId}",
        "responseCode":200
      },
      "input":{"shape":"ImportAccountSettingsRequest"},
      "output":{"shape":"ImportAccountSettingsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "ImportAlias":{
      "name":"ImportAlias",
      "http":{
        "method":"POST",
        "requestUri":"/cellmigration/aliases/{AliasArn}/import",
        "responseCode":200
      },
      "input":{"shape":"ImportAliasRequest"},
      "output":{"shape":"ImportAliasResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "ImportFunctionCounter":{
      "name":"ImportFunctionCounter",
      "http":{
        "method":"PUT",
        "requestUri":"/cellmigration/functions/{FunctionName}/counter",
        "responseCode":200
      },
      "input":{"shape":"ImportFunctionCounterRequest"},
      "output":{"shape":"ImportFunctionCounterResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "ImportFunctionUrlConfigs":{
      "name":"ImportFunctionUrlConfigs",
      "http":{
        "method":"PUT",
        "requestUri":"/cellmigration/functions/{FunctionName}/url",
        "responseCode":201
      },
      "input":{"shape":"ImportFunctionUrlConfigsRequest"},
      "output":{"shape":"ImportFunctionUrlConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ImportFunctionVersion":{
      "name":"ImportFunctionVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/cellmigration/functions/{FunctionName}/import",
        "responseCode":200
      },
      "input":{"shape":"ImportFunctionVersionRequest"},
      "output":{"shape":"ImportFunctionVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "ImportLayerVersion":{
      "name":"ImportLayerVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/cellmigration/layers/{LayerVersionArn}/import",
        "responseCode":200
      },
      "input":{"shape":"ImportLayerVersionRequest"},
      "output":{"shape":"ImportLayerVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ImportProvisionedConcurrencyConfig":{
      "name":"ImportProvisionedConcurrencyConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/cellmigration/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":200
      },
      "input":{"shape":"ImportProvisionedConcurrencyConfigRequest"},
      "output":{"shape":"ImportProvisionedConcurrencyConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "InformTagrisAfterResourceCreation":{
      "name":"InformTagrisAfterResourceCreation",
      "http":{
        "method":"POST",
        "requestUri":"/internal/tags/{Resource}/after-resource-creation/{TagrisExpectedVersion}",
        "responseCode":200
      },
      "input":{"shape":"InformTagrisAfterResourceCreationRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"}
      ],
      "internalonly":true
    },
    "Invoke20150331":{
      "name":"Invoke20150331",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/invocations",
        "responseCode":200
      },
      "input":{"shape":"InvocationRequest"},
      "output":{"shape":"InvocationResponse"},
      "errors":[
        {"shape":"ResourceNotReadyException"},
        {"shape":"InvalidSecurityGroupIDException"},
        {"shape":"SnapStartTimeoutException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"EC2ThrottledException"},
        {"shape":"EFSMountConnectivityException"},
        {"shape":"SubnetIPAddressLimitReachedException"},
        {"shape":"KMSAccessDeniedException"},
        {"shape":"RequestTooLargeException"},
        {"shape":"KMSDisabledException"},
        {"shape":"UnsupportedMediaTypeException"},
        {"shape":"InvalidRuntimeException"},
        {"shape":"NoPublishedVersionException"},
        {"shape":"EC2UnexpectedException"},
        {"shape":"InvalidSubnetIDException"},
        {"shape":"KMSNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"EC2AccessDeniedException"},
        {"shape":"EFSIOException"},
        {"shape":"KMSInvalidStateException"},
        {"shape":"SnapRestoreTimeoutException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ENILimitReachedException"},
        {"shape":"SnapStartNotReadyException"},
        {"shape":"ServiceException"},
        {"shape":"SnapStartException"},
        {"shape":"RecursiveInvocationException"},
        {"shape":"EFSMountTimeoutException"},
        {"shape":"ModeNotSupportedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestContentException"},
        {"shape":"SnapStartRegenerationFailureException"},
        {"shape":"DurableExecutionAlreadyStartedException"},
        {"shape":"InvalidZipFileException"},
        {"shape":"SnapRestoreException"},
        {"shape":"EFSMountFailureException"}
      ]
    },
    "InvokeAsync":{
      "name":"InvokeAsync",
      "http":{
        "method":"POST",
        "requestUri":"/2014-11-13/functions/{FunctionName}/invoke-async",
        "responseCode":202
      },
      "input":{"shape":"InvokeAsyncRequest"},
      "output":{"shape":"InvokeAsyncResponse"},
      "errors":[
        {"shape":"InvalidSecurityGroupIDException"},
        {"shape":"SnapStartTimeoutException"},
        {"shape":"EC2ThrottledException"},
        {"shape":"EFSMountConnectivityException"},
        {"shape":"SubnetIPAddressLimitReachedException"},
        {"shape":"KMSAccessDeniedException"},
        {"shape":"KMSDisabledException"},
        {"shape":"InvalidRuntimeException"},
        {"shape":"EC2UnexpectedException"},
        {"shape":"InvalidSubnetIDException"},
        {"shape":"KMSNotFoundException"},
        {"shape":"EC2AccessDeniedException"},
        {"shape":"EFSIOException"},
        {"shape":"KMSInvalidStateException"},
        {"shape":"SnapRestoreTimeoutException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ENILimitReachedException"},
        {"shape":"SnapStartNotReadyException"},
        {"shape":"ServiceException"},
        {"shape":"SnapStartException"},
        {"shape":"EFSMountTimeoutException"},
        {"shape":"ModeNotSupportedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestContentException"},
        {"shape":"SnapStartRegenerationFailureException"},
        {"shape":"SnapRestoreException"},
        {"shape":"EFSMountFailureException"}
      ],
      "deprecated":true
    },
    "InvokeWithResponseStream":{
      "name":"InvokeWithResponseStream",
      "http":{
        "method":"POST",
        "requestUri":"/2021-11-15/functions/{FunctionName}/response-streaming-invocations",
        "responseCode":200
      },
      "input":{"shape":"InvokeWithResponseStreamRequest"},
      "output":{"shape":"InvokeWithResponseStreamResponse"},
      "errors":[
        {"shape":"ResourceNotReadyException"},
        {"shape":"InvalidSecurityGroupIDException"},
        {"shape":"SnapStartTimeoutException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"EC2ThrottledException"},
        {"shape":"EFSMountConnectivityException"},
        {"shape":"SubnetIPAddressLimitReachedException"},
        {"shape":"KMSAccessDeniedException"},
        {"shape":"RequestTooLargeException"},
        {"shape":"KMSDisabledException"},
        {"shape":"UnsupportedMediaTypeException"},
        {"shape":"InvalidRuntimeException"},
        {"shape":"NoPublishedVersionException"},
        {"shape":"EC2UnexpectedException"},
        {"shape":"InvalidSubnetIDException"},
        {"shape":"KMSNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"EC2AccessDeniedException"},
        {"shape":"EFSIOException"},
        {"shape":"KMSInvalidStateException"},
        {"shape":"SnapRestoreTimeoutException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ENILimitReachedException"},
        {"shape":"SnapStartNotReadyException"},
        {"shape":"ServiceException"},
        {"shape":"SnapStartException"},
        {"shape":"RecursiveInvocationException"},
        {"shape":"EFSMountTimeoutException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestContentException"},
        {"shape":"SnapStartRegenerationFailureException"},
        {"shape":"InvalidZipFileException"},
        {"shape":"SnapRestoreException"},
        {"shape":"EFSMountFailureException"}
      ]
    },
    "ListAliases20150331":{
      "name":"ListAliases20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode":200
      },
      "input":{"shape":"ListAliasesRequest20150331"},
      "output":{"shape":"ListAliasesResponse20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListAliasesInternal":{
      "name":"ListAliasesInternal",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/aliases",
        "responseCode":200
      },
      "input":{"shape":"ListAliasesInternalRequest"},
      "output":{"shape":"ListAliasesInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "ListCapacityProviders":{
      "name":"ListCapacityProviders",
      "http":{
        "method":"GET",
        "requestUri":"/2025-11-30/capacity-providers",
        "responseCode":200
      },
      "input":{"shape":"ListCapacityProvidersRequest"},
      "output":{"shape":"ListCapacityProvidersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "ListCodeSigningConfigs":{
      "name":"ListCodeSigningConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2020-04-22/code-signing-configs",
        "responseCode":200
      },
      "input":{"shape":"ListCodeSigningConfigsRequest"},
      "output":{"shape":"ListCodeSigningConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"}
      ]
    },
    "ListDurableExecutions":{
      "name":"ListDurableExecutions",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-executions",
        "responseCode":200
      },
      "input":{"shape":"ListDurableExecutionsRequest"},
      "output":{"shape":"ListDurableExecutionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "readonly":true
    },
    "ListEventSourceMappings20150331":{
      "name":"ListEventSourceMappings20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/event-source-mappings",
        "responseCode":200
      },
      "input":{"shape":"ListEventSourceMappingsRequest"},
      "output":{"shape":"ListEventSourceMappingsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListEventSourceMappingsInternal":{
      "name":"ListEventSourceMappingsInternal",
      "http":{
        "method":"GET",
        "requestUri":"/internal/event-source-mappings",
        "responseCode":200
      },
      "input":{"shape":"ListEventSourceMappingsInternalRequest"},
      "output":{"shape":"ListEventSourceMappingsInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListEventSources":{
      "name":"ListEventSources",
      "http":{
        "method":"GET",
        "requestUri":"/2014-11-13/event-source-mappings",
        "responseCode":200
      },
      "input":{"shape":"OldListEventSourcesRequest"},
      "output":{"shape":"OldListEventSourcesResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListFunctionAliasResourceMappings":{
      "name":"ListFunctionAliasResourceMappings",
      "http":{
        "method":"GET",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/aliases/{Alias}/resource-mappings",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionAliasResourceMappingsRequest"},
      "output":{"shape":"ListFunctionAliasResourceMappingsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListFunctionCountersInternal":{
      "name":"ListFunctionCountersInternal",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/functions?list=counters",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionCountersInternalRequest"},
      "output":{"shape":"ListFunctionCountersInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "ListFunctionEventInvokeConfigs":{
      "name":"ListFunctionEventInvokeConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config/list",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionEventInvokeConfigsRequest"},
      "output":{"shape":"ListFunctionEventInvokeConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListFunctionResourceMappings":{
      "name":"ListFunctionResourceMappings",
      "http":{
        "method":"GET",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/resource-mappings",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionResourceMappingsRequest"},
      "output":{"shape":"ListFunctionResourceMappingsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListFunctionUrlConfigs":{
      "name":"ListFunctionUrlConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2021-10-31/functions/{FunctionName}/urls",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionUrlConfigsRequest"},
      "output":{"shape":"ListFunctionUrlConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListFunctionUrlsInternal":{
      "name":"ListFunctionUrlsInternal",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/urls",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionUrlsInternalRequest"},
      "output":{"shape":"ListFunctionUrlsInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "ListFunctionVersionResourceMappings":{
      "name":"ListFunctionVersionResourceMappings",
      "http":{
        "method":"GET",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/versions/{Version}/resource-mappings",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionVersionResourceMappingsRequest"},
      "output":{"shape":"ListFunctionVersionResourceMappingsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListFunctionVersionsByCapacityProvider":{
      "name":"ListFunctionVersionsByCapacityProvider",
      "http":{
        "method":"GET",
        "requestUri":"/2025-11-30/capacity-providers/{CapacityProviderName}/function-versions",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionVersionsByCapacityProviderRequest"},
      "output":{"shape":"ListFunctionVersionsByCapacityProviderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListFunctionVersionsInternal":{
      "name":"ListFunctionVersionsInternal",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/functions",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionVersionsInternalRequest"},
      "output":{"shape":"ListFunctionVersionsInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "ListFunctions":{
      "name":"ListFunctions",
      "http":{
        "method":"GET",
        "requestUri":"/2014-11-13/functions",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionsRequest"},
      "output":{"shape":"ListFunctionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"}
      ]
    },
    "ListFunctions20150331":{
      "name":"ListFunctions20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionsRequest"},
      "output":{"shape":"ListFunctionsResponse20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "ListFunctionsByCodeSigningConfig":{
      "name":"ListFunctionsByCodeSigningConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2020-04-22/code-signing-configs/{CodeSigningConfigArn}/functions",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionsByCodeSigningConfigRequest"},
      "output":{"shape":"ListFunctionsByCodeSigningConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListLayerVersions20181031":{
      "name":"ListLayerVersions20181031",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListLayerVersionsRequest20181031"},
      "output":{"shape":"ListLayerVersionsResponse20181031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListLayerVersionsInternal":{
      "name":"ListLayerVersionsInternal",
      "http":{
        "method":"GET",
        "requestUri":"/cellmigration/layers",
        "responseCode":200
      },
      "input":{"shape":"ListLayerVersionsInternalRequest"},
      "output":{"shape":"ListLayerVersionsInternalResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ListLayers20181031":{
      "name":"ListLayers20181031",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers",
        "responseCode":200
      },
      "input":{"shape":"ListLayersRequest20181031"},
      "output":{"shape":"ListLayersResponse20181031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "ListLiteFunctionDeployments":{
      "name":"ListLiteFunctionDeployments",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}/list-deployments",
        "responseCode":200
      },
      "input":{"shape":"ListLiteFunctionDeploymentsRequest"},
      "output":{"shape":"ListLiteFunctionDeploymentsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "ListLiteFunctionRevisions":{
      "name":"ListLiteFunctionRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}/list-revisions",
        "responseCode":200
      },
      "input":{"shape":"ListLiteFunctionRevisionsRequest"},
      "output":{"shape":"ListLiteFunctionRevisionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "readonly":true
    },
    "ListLiteFunctions":{
      "name":"ListLiteFunctions",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/lite-functions",
        "responseCode":200
      },
      "input":{"shape":"ListLiteFunctionsRequest"},
      "output":{"shape":"ListLiteFunctionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "readonly":true
    },
    "ListProvisionedConcurrencyConfigs":{
      "name":"ListProvisionedConcurrencyConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency?List=ALL",
        "responseCode":200
      },
      "input":{"shape":"ListProvisionedConcurrencyConfigsRequest"},
      "output":{"shape":"ListProvisionedConcurrencyConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListProvisionedConcurrencyConfigsByAccountId":{
      "name":"ListProvisionedConcurrencyConfigsByAccountId",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/accounts/{AccountId}/provisioned-concurrency?List=ALL",
        "responseCode":200
      },
      "input":{"shape":"ListProvisionedConcurrencyConfigsByAccountIdRequest"},
      "output":{"shape":"ListProvisionedConcurrencyConfigsByAccountIdResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListTags20170331":{
      "name":"ListTags20170331",
      "http":{
        "method":"GET",
        "requestUri":"/2017-03-31/tags/{Resource}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsRequest20170331"},
      "output":{"shape":"ListTagsResponse20170331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListVersionsByFunction20150331":{
      "name":"ListVersionsByFunction20150331",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListVersionsByFunctionRequest20150331"},
      "output":{"shape":"ListVersionsByFunctionResponse20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "PublishLayerVersion20181031":{
      "name":"PublishLayerVersion20181031",
      "http":{
        "method":"POST",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions",
        "responseCode":201
      },
      "input":{"shape":"PublishLayerVersionRequest20181031"},
      "output":{"shape":"PublishLayerVersionResponse20181031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"CodeStorageExceededException"}
      ]
    },
    "PublishVersion20150331":{
      "name":"PublishVersion20150331",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions",
        "responseCode":201
      },
      "input":{"shape":"PublishVersionRequest20150331"},
      "output":{"shape":"FunctionConfiguration20150331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"CodeStorageExceededException"},
        {"shape":"PreconditionFailedException"}
      ]
    },
    "PutFunctionAliasResourceMapping":{
      "name":"PutFunctionAliasResourceMapping",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/aliases/{Alias}/resource-mappings",
        "responseCode":202
      },
      "input":{"shape":"PutFunctionAliasResourceMappingRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "PutFunctionCodeSigningConfig":{
      "name":"PutFunctionCodeSigningConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-06-30/functions/{FunctionName}/code-signing-config",
        "responseCode":200
      },
      "input":{"shape":"PutFunctionCodeSigningConfigRequest"},
      "output":{"shape":"PutFunctionCodeSigningConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"CodeSigningConfigNotFoundException"}
      ]
    },
    "PutFunctionConcurrency20171031":{
      "name":"PutFunctionConcurrency20171031",
      "http":{
        "method":"PUT",
        "requestUri":"/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode":200
      },
      "input":{"shape":"PutFunctionConcurrencyRequest20171031"},
      "output":{"shape":"Concurrency"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "PutFunctionEventInvokeConfig":{
      "name":"PutFunctionEventInvokeConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode":200
      },
      "input":{"shape":"PutFunctionEventInvokeConfigRequest"},
      "output":{"shape":"FunctionEventInvokeConfig"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "PutFunctionRecursionConfig":{
      "name":"PutFunctionRecursionConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2024-08-31/functions/{FunctionName}/recursion-config",
        "responseCode":200
      },
      "input":{"shape":"PutFunctionRecursionConfigRequest"},
      "output":{"shape":"PutFunctionRecursionConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "PutFunctionResourceMapping":{
      "name":"PutFunctionResourceMapping",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/resource-mappings",
        "responseCode":202
      },
      "input":{"shape":"PutFunctionResourceMappingRequest"},
      "output":{"shape":"PutFunctionResourceMappingResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "PutFunctionScalingConfig":{
      "name":"PutFunctionScalingConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2025-11-30/functions/{FunctionName}/function-scaling-config",
        "responseCode":202
      },
      "input":{"shape":"PutFunctionScalingConfigRequest"},
      "output":{"shape":"PutFunctionScalingConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "PutFunctionVersionResourceMapping":{
      "name":"PutFunctionVersionResourceMapping",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-11-02/functions/{FunctionArn}/versions/{Version}/resource-mappings",
        "responseCode":202
      },
      "input":{"shape":"PutFunctionVersionResourceMappingRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "PutProvisionedConcurrencyConfig":{
      "name":"PutProvisionedConcurrencyConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":202
      },
      "input":{"shape":"PutProvisionedConcurrencyConfigRequest"},
      "output":{"shape":"PutProvisionedConcurrencyConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "PutPublicAccessBlockConfig":{
      "name":"PutPublicAccessBlockConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2024-09-16/public-access-block/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"PutPublicAccessBlockConfigRequest"},
      "output":{"shape":"PutPublicAccessBlockConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/2024-09-16/resource-policy/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"PublicPolicyException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PolicyLengthExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ]
    },
    "PutRuntimeManagementConfig":{
      "name":"PutRuntimeManagementConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-07-20/functions/{FunctionName}/runtime-management-config",
        "responseCode":200
      },
      "input":{"shape":"PutRuntimeManagementConfigRequest"},
      "output":{"shape":"PutRuntimeManagementConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ReconcileProvisionedConcurrency":{
      "name":"ReconcileProvisionedConcurrency",
      "http":{
        "method":"POST",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency/reconcile",
        "responseCode":200
      },
      "input":{"shape":"ReconcileProvisionedConcurrencyRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "RedriveFunctionResourceTags":{
      "name":"RedriveFunctionResourceTags",
      "http":{
        "method":"POST",
        "requestUri":"/2021-12-31/functions/{FunctionArn}/redrive-tags",
        "responseCode":200
      },
      "input":{"shape":"RedriveFunctionResourceTagsRequest"},
      "output":{"shape":"RedriveFunctionResourceTagsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "RemoveEventSource":{
      "name":"RemoveEventSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2014-11-13/event-source-mappings/{UUID}",
        "responseCode":204
      },
      "input":{"shape":"RemoveEventSourceRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "RemoveLayerVersionPermission20181031":{
      "name":"RemoveLayerVersionPermission20181031",
      "http":{
        "method":"DELETE",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy/{StatementId}",
        "responseCode":204
      },
      "input":{"shape":"RemoveLayerVersionPermissionRequest20181031"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ]
    },
    "RemovePermission20150331":{
      "name":"RemovePermission20150331",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions/HEAD/policy/{StatementId}",
        "responseCode":204
      },
      "input":{"shape":"RemovePermissionRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "RemovePermission20150331v2":{
      "name":"RemovePermission20150331v2",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/functions/{FunctionName}/policy/{StatementId}",
        "responseCode":204
      },
      "input":{"shape":"RemovePermissionRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"PublicPolicyException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ]
    },
    "ResetFunctionFeatureInternal":{
      "name":"ResetFunctionFeatureInternal",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-07-20/internal/{FeatureGate}/functions/reset-function-feature/{FunctionArn}",
        "responseCode":200
      },
      "input":{"shape":"ResetFunctionFeatureInternalRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ResignFunctionAlias":{
      "name":"ResignFunctionAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/2022-03-31/aliases/{FunctionArn}/resign",
        "responseCode":200
      },
      "input":{"shape":"ResignFunctionAliasRequest"},
      "output":{"shape":"ResignFunctionAliasResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "ResignFunctionVersion":{
      "name":"ResignFunctionVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/2022-03-31/functions/{FunctionArn}/resign",
        "responseCode":200
      },
      "input":{"shape":"ResignFunctionVersionRequest"},
      "output":{"shape":"ResignFunctionVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "RollbackFunction":{
      "name":"RollbackFunction",
      "http":{
        "method":"POST",
        "requestUri":"/2021-07-20/functions/{FunctionName}/rollback",
        "responseCode":200
      },
      "input":{"shape":"RollbackFunctionRequest"},
      "output":{"shape":"RollbackFunctionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "RollbackTagsOwnershipFromLambda":{
      "name":"RollbackTagsOwnershipFromLambda",
      "http":{
        "method":"POST",
        "requestUri":"/2021-12-31/functions/{FunctionArn}/rollback-tags-ownership-from-lambda",
        "responseCode":200
      },
      "input":{"shape":"RollbackTagsOwnershipFromLambdaRequest"},
      "output":{"shape":"RollbackTagsOwnershipFromLambdaResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"}
      ],
      "internalonly":true
    },
    "SafeDeleteProvisionedConcurrencyConfig":{
      "name":"SafeDeleteProvisionedConcurrencyConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency/config",
        "responseCode":204
      },
      "input":{"shape":"SafeDeleteProvisionedConcurrencyConfigRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "SendDurableExecutionCallbackFailure":{
      "name":"SendDurableExecutionCallbackFailure",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-execution-callbacks/{CallbackId}/fail",
        "responseCode":200
      },
      "input":{"shape":"SendDurableExecutionCallbackFailureRequest"},
      "output":{"shape":"SendDurableExecutionCallbackFailureResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"CallbackTimeoutException"}
      ]
    },
    "SendDurableExecutionCallbackHeartbeat":{
      "name":"SendDurableExecutionCallbackHeartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-execution-callbacks/{CallbackId}/heartbeat",
        "responseCode":200
      },
      "input":{"shape":"SendDurableExecutionCallbackHeartbeatRequest"},
      "output":{"shape":"SendDurableExecutionCallbackHeartbeatResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"CallbackTimeoutException"}
      ]
    },
    "SendDurableExecutionCallbackSuccess":{
      "name":"SendDurableExecutionCallbackSuccess",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-execution-callbacks/{CallbackId}/succeed",
        "responseCode":200
      },
      "input":{"shape":"SendDurableExecutionCallbackSuccessRequest"},
      "output":{"shape":"SendDurableExecutionCallbackSuccessResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"CallbackTimeoutException"}
      ]
    },
    "SetAccountRiskSettings":{
      "name":"SetAccountRiskSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-04-07/account-settings/{AccountId}/risk",
        "responseCode":200
      },
      "input":{"shape":"SetAccountRiskSettingsRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "internalonly":true
    },
    "SetAccountSettings20170430":{
      "name":"SetAccountSettings20170430",
      "http":{
        "method":"PUT",
        "requestUri":"/2017-04-30/account-settings",
        "responseCode":200
      },
      "input":{"shape":"SetAccountSettingsRequest20170430"},
      "output":{"shape":"SetAccountSettingsResponse20170430"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ]
    },
    "StartLiteFunctionDeployment":{
      "name":"StartLiteFunctionDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/2025-03-07/lite-functions/{FunctionName}/deployments",
        "responseCode":202
      },
      "input":{"shape":"StartLiteFunctionDeploymentRequest"},
      "output":{"shape":"StartLiteFunctionDeploymentResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "StopDurableExecution":{
      "name":"StopDurableExecution",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-executions/{DurableExecutionArn}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopDurableExecutionRequest"},
      "output":{"shape":"StopDurableExecutionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "TagResource20170331":{
      "name":"TagResource20170331",
      "http":{
        "method":"POST",
        "requestUri":"/2017-03-31/internal/tags/{Resource}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest20170331"},
      "output":{"shape":"TagResourceResponse20170331"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "internalonly":true
    },
    "TagResource20170331v2":{
      "name":"TagResource20170331v2",
      "http":{
        "method":"POST",
        "requestUri":"/2017-03-31/tags/{Resource}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest20170331v2"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "TagResourceBeforeResourceCreation":{
      "name":"TagResourceBeforeResourceCreation",
      "http":{
        "method":"POST",
        "requestUri":"/internal/tags/{Resource}/before-resource-creation",
        "responseCode":200
      },
[...]
