{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-03-31",
    "endpointPrefix":"lambda",
    "protocol":"rest-json",
    "serviceFullName":"AWS Lambda",
    "serviceId":"Lambda",
    "signatureVersion":"v4",
    "uid":"lambda-2015-03-31"
  },
  "operations":{
    "CheckpointDurableExecution":{
      "name":"CheckpointDurableExecution",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-execution-state/{CheckpointToken}/checkpoint",
        "responseCode":200
      },
      "input":{"shape":"CheckpointDurableExecutionRequest"},
      "output":{"shape":"CheckpointDurableExecutionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "idempotent":true
    },
    "GetDurableExecution":{
      "name":"GetDurableExecution",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-executions/{DurableExecutionArn}",
        "responseCode":200
      },
      "input":{"shape":"GetDurableExecutionRequest"},
      "output":{"shape":"GetDurableExecutionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetDurableExecutionState":{
      "name":"GetDurableExecutionState",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-execution-state/{CheckpointToken}/getState",
        "responseCode":200
      },
      "input":{"shape":"GetDurableExecutionStateRequest"},
      "output":{"shape":"GetDurableExecutionStateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ]
    },
    "GetDurableExecutionHistory":{
      "name":"GetDurableExecutionHistory",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-executions/{DurableExecutionArn}/history",
        "responseCode":200
      },
      "input":{"shape":"GetDurableExecutionHistoryRequest"},
      "output":{"shape":"GetDurableExecutionHistoryResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "SendDurableExecutionCallbackFailure":{
      "name":"SendDurableExecutionCallbackFailure",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-execution-callbacks/{CallbackId}/fail",
        "responseCode":200
      },
      "input":{"shape":"SendDurableExecutionCallbackFailureRequest"},
      "output":{"shape":"SendDurableExecutionCallbackFailureResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"CallbackTimeoutException"}
      ]
    },
    "SendDurableExecutionCallbackHeartbeat":{
      "name":"SendDurableExecutionCallbackHeartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-execution-callbacks/{CallbackId}/heartbeat",
        "responseCode":200
      },
      "input":{"shape":"SendDurableExecutionCallbackHeartbeatRequest"},
      "output":{"shape":"SendDurableExecutionCallbackHeartbeatResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"CallbackTimeoutException"}
      ]
    },
    "SendDurableExecutionCallbackSuccess":{
      "name":"SendDurableExecutionCallbackSuccess",
      "http":{
        "method":"POST",
        "requestUri":"/2025-12-01/durable-execution-callbacks/{CallbackId}/succeed",
        "responseCode":200
      },
      "input":{"shape":"SendDurableExecutionCallbackSuccessRequest"},
      "output":{"shape":"SendDurableExecutionCallbackSuccessResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"CallbackTimeoutException"}
      ]
    },
    "ListDurableExecutions":{
      "name":"ListDurableExecutions",
      "http":{
        "method":"GET",
        "requestUri":"/2025-12-01/durable-executions",
        "responseCode":200
      },
      "input":{"shape":"ListDurableExecutionsRequest"},
      "output":{"shape":"ListDurableExecutionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ]
    }
  },
  "shapes":{
    "CheckpointDurableExecutionRequest":{
      "type":"structure",
      "required":["CheckpointToken"],
      "members":{
        "CheckpointToken":{
          "shape":"CheckpointToken",
          "location":"uri",
          "locationName":"CheckpointToken"
        },
        "Updates":{"shape":"OperationUpdates"},
        "ClientToken":{"shape":"ClientToken"}
      }
    },
    "CheckpointDurableExecutionResponse":{
      "type":"structure",
      "members":{
        "CheckpointToken":{"shape":"CheckpointToken"},
        "NewExecutionState":{"shape":"CheckpointUpdatedExecutionState"}
      }
    },
    "CheckpointToken":{"type":"string"},
    "CheckpointUpdatedExecutionState":{
      "type":"structure",
      "members":{
        "Operations":{"shape":"Operations"},
        "NextMarker":{"shape":"String"}
      }
    },
    "ClientToken":{"type":"string"},
    "GetDurableExecutionRequest":{
      "type":"structure",
      "required":["DurableExecutionArn"],
      "members":{
        "DurableExecutionArn":{
          "shape":"String",
          "location":"uri",
          "locationName":"DurableExecutionArn"
        }
      }
    },
    "GetDurableExecutionResponse":{
      "type":"structure",
      "members":{
        "DurableExecutionArn":{"shape":"String"},
        "DurableExecutionName":{"shape":"String"},
        "FunctionArn":{"shape":"String"},
        "InputPayload":{"shape":"Blob"},
        "Status":{"shape":"String"},
        "StartDate":{"shape":"Timestamp"},
        "StopDate":{"shape":"Timestamp"},
        "ResultPayload":{"shape":"Blob"},
        "ErrorPayload":{"shape":"Blob"}
      }
    },
    "GetDurableExecutionStateRequest":{
      "type":"structure",
      "required":["CheckpointToken"],
      "members":{
        "CheckpointToken":{
          "shape":"CheckpointToken",
          "location":"uri",
          "locationName":"CheckpointToken"
        },
        "MaxItems":{"shape":"Integer"},
        "Marker":{"shape":"String"}
      }
    },
    "GetDurableExecutionStateResponse":{
      "type":"structure",
      "members":{
        "Operations":{"shape":"Operations"},
        "NextMarker":{"shape":"String"}
      }
    },
    "GetDurableExecutionHistoryRequest":{
      "type":"structure",
      "required":["DurableExecutionArn"],
      "members":{
        "DurableExecutionArn":{
          "shape":"String",
          "location":"uri",
          "locationName":"DurableExecutionArn"
        },
        "IncludeExecutionData":{"shape":"Boolean"},
        "MaxItems":{"shape":"Integer"},
        "Marker":{"shape":"String"},
        "ReverseOrder":{"shape":"Boolean"}
      }
    },
    "GetDurableExecutionHistoryResponse":{
      "type":"structure",
      "members":{
        "Events":{"shape":"Events"},
        "NextMarker":{"shape":"String"}
      }
    },
    "SendDurableExecutionCallbackFailureRequest":{
      "type":"structure",
      "required":["CallbackId"],
      "members":{
        "CallbackId":{
          "shape":"String",
          "location":"uri",
          "locationName":"CallbackId"
        },
        "Error":{"shape":"ErrorObject"}
      }
    },
    "SendDurableExecutionCallbackFailureResponse":{
      "type":"structure",
      "members":{}
    },
    "SendDurableExecutionCallbackHeartbeatRequest":{
      "type":"structure",
      "required":["CallbackId"],
      "members":{
        "CallbackId":{
          "shape":"String",
          "location":"uri",
          "locationName":"CallbackId"
        }
      }
    },
    "SendDurableExecutionCallbackHeartbeatResponse":{
      "type":"structure",
      "members":{}
    },
    "SendDurableExecutionCallbackSuccessRequest":{
      "type":"structure",
      "required":["CallbackId"],
      "members":{
        "CallbackId":{
          "shape":"String",
          "location":"uri",
          "locationName":"CallbackId"
        },
        "Result":{"shape":"Blob"}
      }
    },
    "SendDurableExecutionCallbackSuccessResponse":{
      "type":"structure",
      "members":{}
    },
    "ListDurableExecutionsRequest":{
      "type":"structure",
      "members":{
        "FunctionName":{"shape":"String"},
        "FunctionVersion":{"shape":"String"},
        "DurableExecutionName":{"shape":"String"},
        "StatusFilter":{"shape":"String"},
        "TimeFilter":{"shape":"String"},
        "TimeAfter":{"shape":"Timestamp"},
        "TimeBefore":{"shape":"Timestamp"},
        "ReverseOrder":{"shape":"Boolean"},
        "Marker":{"shape":"String"},
        "MaxItems":{"shape":"Integer"}
      }
    },
    "ListDurableExecutionsResponse":{
      "type":"structure",
      "members":{
        "DurableExecutions":{"shape":"DurableExecutions"},
        "NextMarker":{"shape":"String"}
      }
    },
    "Operations":{
      "type":"list",
      "member":{"shape":"Operation"}
    },
    "Operation":{
      "type":"structure",
      "members":{
        "Id":{"shape":"String"},
        "Type":{"shape":"String"},
        "Status":{"shape":"String"}
      }
    },
    "OperationUpdates":{
      "type":"list",
      "member":{"shape":"OperationUpdate"}
    },
    "OperationUpdate":{
      "type":"structure",
      "members":{
        "Id":{"shape":"String"},
        "Action":{"shape":"String"},
        "Payload":{"shape":"Blob"},
        "Error":{"shape":"ErrorObject"}
      }
    },
    "ErrorObject":{
      "type":"structure",
      "members":{
        "Error":{"shape":"String"},
        "Cause":{"shape":"String"}
      }
    },
    "Events":{
      "type":"list",
      "member":{"shape":"Event"}
    },
    "Event":{
      "type":"structure",
      "members":{
        "EventType":{"shape":"String"},
        "EventId":{"shape":"Integer"},
        "EventTimestamp":{"shape":"Timestamp"}
      }
    },
    "DurableExecutions":{
      "type":"list",
      "member":{"shape":"DurableExecution"}
    },
    "DurableExecution":{
      "type":"structure",
      "members":{
        "DurableExecutionArn":{"shape":"String"},
        "DurableExecutionName":{"shape":"String"},
        "FunctionArn":{"shape":"String"},
        "Status":{"shape":"String"},
        "StartDate":{"shape":"Timestamp"},
        "StopDate":{"shape":"Timestamp"}
      }
    },
    "InvalidParameterValueException":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "TooManyRequestsException":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "ServiceException":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "CallbackTimeoutException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "String":{"type":"string"},
    "Integer":{"type":"integer"},
    "Boolean":{"type":"boolean"},
    "Blob":{"type":"blob"},
    "Timestamp":{"type":"timestamp"}
  }
}
